:root {
  --background_color: #e3e2de;
  --text_color: #29343f;
  --tech_color: #264e70;
  --card_shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  --button_color: #4e647a;
}

body {
  margin: 60px aut;
  background-color: var(--background_color);
  font-family: "Playfair Display SC", serif;
}

h1,
h2,
h3,
footer {
  text-align: center;
  margin: 0;
  color: var(--text_color);
}

h1 {
  padding: 35px 0px 3px 0px;
  font-size: 45px;
  font-weight: 850;
  font-stretch: extra-expanded;
}

h2 {
  padding: 7px 0px 20px 0px;
  line-height: 2;
  font-size: 23px;
  font-weight: 580;
}
h3 {
  font-size: 27px;
  font-weight: 650;
}

p {
  text-align: center;
  line-height: 1.5;
  font-size: 17px;
  font-family: "Mulish", sans-serif;
}
footer {
  padding: 10px 0 10px 0;
  font-family: "Mulish", sans-serif;
  opacity: 70%;
  color: var(--text_color);
  font-size: 13px;
}
li > .nav-link {
  margin: 0px 100px 0px 100px;
}

.navbar {
  background-color: var(--text_color);
}

.technologies {
  color: var(--tech_color);
  font-size: 20px;
  padding: 10px;
}

.project,
.contact-card {
  background-color: #dedfe0;
  font-family: "Mulish", sans-serif;
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  max-width: 450px;
  height: 500px;
  display: block;
  margin: 0 auto;
  box-shadow: var(--card_shadow);
}

.project-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Playfair Display SC", serif;
  text-align: center;
  color: var(--tech_color);
}

.project-img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.project-text,
.project-description {
  font-size: 16px;
  padding: 0px;
}
.about_description {
  padding: 50px 140px 60px 140px;
}
.contact-description {
  font-size: 18px;
  font-weight: bolder;
  padding: 60px 40px 30px 40px;
}
.project-description {
  height: 170px;
  padding: 20px;
}

.github-button {
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--custom_shadow);
  max-width: 170px;
  display: block;
  margin: 0 auto;
  background-color: #4e647a;
  border: var(--tech_color);
  color: var(--background_color);
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition: ease-in-out 200ms;
}
.github-button:hover {
  background-color: var(--text_color);
  color: var(--background_color);
  text-decoration: none;
}

.project-buttons {
  height: 100px;
  background-color: transparent;
}
#my_photo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: var(--card_shadow);
}

#about_me {
  font-size: 24px;
  line-height: 2;
}

#projects {
  padding-top: 70px;
  padding-bottom: 60px;
}

#contact {
  padding-top: 70px;
  padding-bottom: 335px;
}
#contact-card {
  max-width: 600px;
  height: 270px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: var(--tech_color);
  padding: 0;
}

#contact-icons a {
  font-size: 40px;
  color: var(--button_color);
  padding: 10px;
  transition: ease-in-out 200ms;
}
#contact-icons a:hover {
  color: var(--text_color);
}
#github-icon {
  color: var(--text_color);
  text-decoration: none;
  transition: ease-in-out 200ms;
}
#github-icon :hover {
  color: var(--button_color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 18px;
  }

  .about_description {
    padding: 35px;
    font-size: 16px;
  }
  .project-text,
  .project-description {
    font-size: 14px;
    padding: 0;
  }
  .contact-description {
    font-size: 14px;
  }
  li > .nav-link {
    font-size: 14px;
  }

  #projects {
    padding-top: 40px;
  }

  #contact {
    padding-top: 40px;
  }
}
